<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 


</head>
<body>
    <hr style="border: solid 4px red;">
    <h2 class="text-center" style="font-family:'Times New Roman', Times, serif; font-weight:bolder; color:red;">CHOOSE A BOOKING</h2>
    <hr style="border: solid 4px red;"><br>
    <section class="row container-fluid">
     <h2 class="text-center" style="font-family:'Times New Roman', Times, serif; font-weight:bolder; color:red;">{{msg}}</h2>
 
     {% for row in rows %}
 
     <div class="col-md-4">
         <div class="card shadow p-3">
            
             <div class="card-body ">
                 <h4>DRIVERS ID:{{row[0]}} </h4>
                 <p>DRIVERS NAME:{{row[1]}} </p>
                 <P>DRIVERS PHONE:{{row[2]}} </P>
                 <P>ID NO:{{row[3]}} </P>
                 <P>CAR ASSIGNED:{{row[4]}} </P>
                 
                
             </div>
            
         </div>
    </div>
    {% endfor %}
 
  
 
</body>
</html>